language: node_js
node_js: stable

before_install:
    - npm install -g hexo
    - npm install -g hexo-cli
    - npm install hexo-generator-sitemap --save  #生成sitemap.xml
    - npm install hexo-generator-baidu-sitemap --save  #生成baidusitemap.xml
    
install:
    - npm install  #安装hexo及插件 

script:    
    - hexo clean && hexo generate
    
after_script:   
    - cd ./public   
    - git init    
    - git config user.name "tinyking"  #修改name   
    - git config user.email "akingchao@qq.com"  #修改地址   
    - git add .    
    - git commit -m "Update docs" 
    - git push --force --quiet "https://${USER}:${GH_TOKEN}@${GH_REF}" master:master
branches:   
    only:      
        - hexo  #只监测hexo分支，hexo是我的分支的名称，可根据自己情况设置
        
#env:   
#    global:     
#    - GH_REF: github.com/tinyking/tinyking.github.io.git  #设置GH_REF，注意更改yourname
