<footer id="footer" class="block-select">
  <div class="outer">
    <div id="footer-info">
      <div class="footer-left">&copy; 2015-<%= date(new Date(), 'YYYY') %>
        <% if(theme.aboutme){ %><a href="<%= theme.aboutme %>" class ="aboutme-foot-tag"> <%= config.author || config.title %></a><% } else { %><%= config.author || config.title %><% } %>
      </div>
    </div>
  </div>
  
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7f5889a162b9ce28e17ffd275a476161";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</footer>
