<div class="post-copyright">
<p><a href="<%= post.permalink  %>">本文</a>为原创，转载请遵守本站<% if(theme.copyright){ %><a href="/copyright/">版权声明</a><% }else{ %>的版本<% } %></p>
<p class="updated-time" >更新于: </span><%= post.updated.format("YYYY年M月D日 HH:MM") %></p>
</div>
